[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[dev-packages]

pylint = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"


[packages]

pyarrow = "*"


[requires]

python_version = "3.5"
